export(authenticate)
importFrom(RCurl,curlEscape)
importFrom(httr,GET)
importFrom(httr,accept_json)
importFrom(httr,config)
importFrom(httr,content)
importFrom(httr,http_status)
importFrom(httr,oauth2.0_token)
importFrom(httr,oauth_app)
importFrom(httr,oauth_endpoints)